<div class="card">
  <div class="card-body">
    <h4 class="card-title"> Автор: <a href="{% url 'events:profile' event.author.username %}"> {{ event.author.username }} </a> </h4>
    <h3 class="card-subtitle mb-2"> Название: {{ event.name }} </h3>
    <h5 class="card-subtitle mb-2 text-muted"> Время: {{ event.time}} </h5>
    <h5 class="card-subtitle mb-2 text-muted"> Дата: {{ event.date}} </h5>
    <p class="card-text"> {{event.text}} </p>
    <img class="card-img-bottom" src="{{MEDIA_URL}}{{event.image.url}}" width="400" height="300">
    <p> <a href="{% url 'events:event_detail' event.id %}" class="card-link"> Подробная информация</a> </p>
  </div>
</div>