<!DOCTYPE html>
<html lang="ru">
{%extends 'base.html'%}
{%block title%} Последние обновления на сайте {%endblock%}
{%block content%}
  <head>
    <span style="font-size: 33px !important; font-style: italic; font-family: Arial, Helvetica, sans-serif; color:rgb(227, 10, 64)">Последние обновления на сайте</span></a>
  </head>
  <body>
    <main>
      {% for event in page_obj %}
        <div class="row">
          <div class="col-md-6 col-xl-3">
            <article>
              {% include 'includes/event_structure.html' %}
            </article>
          </div>
        </div>
      {% endfor %}
      {% include 'includes/paginator.html' %}
{%endblock%}