<!DOCTYPE html>
<html lang="ru">
{%extends 'base.html'%}
{%block title%} Профайл пользователя {{ author.get_full_name }} {%endblock%}
{%block content%}
  <div class="container py-5">
    <h1>Все мероприятия пользователя {{ author.get_full_name }} </h1>
      <h3>Всего мероприятий: {{ events_count }} </h3>   
        <article>
          {% for event in page_obj %}
            <ul>
              <li>
                Дата проведения: {{event.datetime}}
              </li>
            </ul>
            <p> {{ event.text }} </p>
            <a href="{% url 'events:event_detail' event.id %}"> подробная информация </a>
            <br>
            {% if event.category.name != None %}
              <a href="{% url 'events:category_list' event.category.slug %}"> все мероприятия в категории </a>
            {% else %}
              <p> категория не установлена </p>
            {% endif %}
            {% if not forloop.last %}<hr>{% endif %}
          {% endfor %}
        </article>       
        {% include 'includes/paginator.html' %}
  </div>
{% endblock %}
</html>