<!DOCTYPE html> 
<html lang="ru">
{%extends 'base.html'%}
{%block title%} Редактировать мероприятие {% endblock %}
{% block content %}
<body>	   
  <main>
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-8 p-5">
          <div class="card">
            <div class="card-header">       
              Редактировать мероприятие           
            </div>
            <div class="card-body">        
              <form method="post" enctype="multipart/form-data" action="{% url 'events:event_edit' event.id %}">
                {% csrf_token %}
                {% for field in form %}
                  <div class="form-group row my-3 p-3">
                    {% if field.label == 'Category' %}
                      <select name="category" class="form-control" required id="id_category">
                        <option value="" selected> -------- </option>
                        <option value="1"> Корпоративы </option>
                        <option value="2"> Государственные праздники </option>
                        <option value="3"> Городские мероприятия </option>
                      </select>
                      <small id="id_category-help" class="form-text text-muted">
                        Категория, к которой будет относиться мероприятие
                      </small>
                    {% elif field.label == 'Name' %}
                      {{ field }}
                      <small id="id_text-help" class="form-text text-muted">
                        Название предстоящего мероприятия
                      </small>
                    {% elif field.label == 'Text' %}
                      {{ field }}
                      <small id="id_text-help" class="form-text text-muted">
                        Описание предстоящего мероприятия
                      </small>
                    {% elif field.label == 'Date' %}
                      {{ field }}
                      <small id="id_text-help" class="form-text text-muted">
                        Дата предстоящего мероприятия
                      </small>
                    {% elif field.label == 'Time' %}
                      <input type="time" name="time">
                      <small id="id_text-help" class="form-text text-muted">
                        Время предстоящего мероприятия
                      </small>
                    {% elif field.label == 'Image' %}
                      {{ field }}
                      <small id="id_image-help" class="form-text text-muted"> 
                        Картинка для нового мероприятия 
                      </small>
                    {% endif %}
                  </div>
                {% endfor %}
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary" name="submit">
                    {% if is_edit %}
                      Сохранить
                    {% else %}
                      Добавить
                    {% endif %}               
                  </button> 
                </div>         
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
{% endblock %}
</html>