{%load static%}
{% with request.resolver_match.view_name as view_name %} 
<header>
  <nav class="navbar navbar-light" style="background-color: rgb(250, 135, 135)">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static '../static/img/free-logo.png'%}" width="70" height="50" class="d-inline-block align-top" alt="">
        <span style="font-size: 33px !important; color:rgb(227, 10, 64)">Your event manager</span></a>
      </a>
      <ul class="nav nav-pills">
        {% if request.user.is_authenticated %}
        <li class="nav-item"> 
          <a class="nav-link" href="{% url 'events:event_create' %}">Новая запись</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light" href="{% url 'users:password_change_form' %}">Изменить пароль</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light" href="{% url 'users:logout' %}">Выйти</a>
        </li>
        <li>
          Пользователь: {{ user.username }}
        </li>
        {% else %}
        <li class="nav-item"> 
          <a class="nav-link link-light" href="{% url 'users:login' %}">Войти</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light" href="{% url 'users:signup' %}">Регистрация</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>      
</header>
{% endwith %}